@font-face {
  font-family: 'Rubik Mono One';
  src: url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
}

* {
  font-family: 'Rubik Mono One', sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  background-color: black;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-image: url("./img/bg.jpg");
  background-size: cover;
  height: 100vh;
}

.left {
  display: flex;
  flex: 3;
  justify-content: center;

}

.graphic {
  width: 100%;

}

.graphic:hover {

  animation: shake 1s;
}

.graphicgelatine {
  animation: gelatine 0.7s;


}

.leaderboard {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 50%;

  border-radius: 20px 20px 22px 22px;

}

#firstname,
#secondname,
#thirdname,
#fourthname,
#fifthname {
  font-size: 1vw;
  text-align: center;
  padding-top: 0.3vw;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

#firstname {
  font-size: 1.2vw;
  background-color: rgb(228, 212, 72);

  font-weight: bold;

}

#secondname {
  background-color: rgb(192, 192, 192);
  font-weight: bold;

}

#thirdname {
  background-color: rgb(205, 127, 50);
  font-weight: bold;
}

#fourthname {
  background-color: rgb(124, 129, 136);
  font-weight: bold;
}

#fifthname {
  background-color: rgb(67, 68, 64);
  font-weight: bold;

}


#first,
#second,
#third,
#fourth,
.fifth {
  text-align: center;
  font-size: 1vw;
  border-bottom: 1px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;

}

#first {
  font-size: 1.2vw;
  background-color: rgb(228, 212, 72);
  font-weight: bold;
}

#second {
  
  background-color: rgb(192, 192, 192);
  font-weight: bolder;
}

#third {
  
  background-color: rgb(205, 127, 50);
}

#fourth {
  
  background-color: rgb(124, 129, 136);
}

.fifth {
  text-align: center;
  
  background-color: rgb(67, 68, 64);
  border-bottom: 1px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.fifthActive {
  border-radius: 0px 0px 10px 10px;
}

.ranking {
  display: flex;
  flex-direction: column;
}

.name {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.name p {
  font-size: 1.2vw;
  font-weight: bold;
  margin: 0px 0px 5px 0px;
  color: rgb(40, 57, 11);
}

.inputname {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 1vh;

}

.playername {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 2px solid rgb(40, 57, 11);
  background-color: rgb(148, 192, 0);
  border-radius: 0px 0px 20px 20px;
  padding: 0.5vw;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;

}

#playername {
  width: 70%;
  height: 4vh;
  border: 2px solid rgb(0, 129, 52);

}


#ok {
  font-size: 1vw;
  color: white;
  background-color: rgb(0, 129, 52);
  border-style: none;
  border-radius: 5px;
  margin-left: 0.5vw;
}

#ok:hover {
  cursor: pointer;
  border: 2px solid black;
  background-color: rgb(6, 95, 41);
}

.screen {
  align-items: center;
  align-self: center;
  display: flex;
  flex: 4;
  flex-direction: column;
  height: 80vh;
  width: 80vh;

}

.game {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 400px;
  height: 400px;
  border: 2px solid rgb(40, 57, 11);
}

.instr {
  color: rgb(40, 57, 11);
  background-color: rgb(148, 192, 0);
  border-radius: 20px;
  padding: 5px 10px 5px 10px;
  /* border: 2px solid black; */
  margin: 5px;
  font-size: 25px;
}

#keys {
  width: 50px;
}

.cell {
  width: 5%;
  height: 5%;

}

.snake {
  background-color: rgb(40, 57, 11);
}

.food {
  background-image: url(./img/beetle.gif);
  background-repeat: no-repeat;
  background-size: cover;
}

.rare {
  background-image: url(./img/dragonfly.gif);
  background-repeat: no-repeat;
  background-size: cover;
}

.crate {
  background-image: url(./img/crate.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.nav {
  display: flex;
  flex-direction: column;
  background-color: rgb(148, 192, 0);
  width: 400px;
  border: 2px solid black;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1vh;
  border-bottom: 2px solid rgb(40, 57, 11);
  height: 5vh;
  width: 100%;
  background-color: rgb(148, 192, 0);
}

#score {
  color: rgb(40, 57, 11);
  font-size: 2vw;

}

.navright {

  display: flex;
  flex-direction: row;
  height: 100%;

}

#foodicon,
#rareicon,
#crateicon {
  align-self: center;
  width: 4.5vh;
  padding: 0px 0.3vw 0px 0.3vw;
}

#navtext1 {
  font-weight: bold;
  font-style: italic;
  font-size: 1.2vw;
  align-self: center;
  padding: 0px 5px 0px 3px;
}

#navtext2 {
  font-weight: bolder;
  font-style: italic;
  font-size: 1.2vw;
  align-self: center;
  padding: 0px 5px 0px 3px;
}

#navtext3 {
  font-weight: bolder;
  font-style: italic;
  font-size: 1.2vw;
  align-self: center;
  padding: 0px 5px 0px 3px;
}

.right {
  display: flex;
  flex-direction: column;
  flex: 3;
  justify-content: space-evenly;
  height: 100vh;
}

#logo {
  width: 70%;
  border-radius: 20px;
}

.settings {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 50%;
  border-radius: 20px 20px 25px 25px;
  border: 2px solid black;
}

#h3l {
  font-size: 1.5vw;
  align-self: center;
  text-align: center;
  color: rgb(40, 57, 11);
  background-color: rgb(148, 192, 0);
  margin: 0;
  padding: 0.7vw;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

#h3s {
  font-size: 1.5vw;
  align-self: center;
  text-align: center;
  color: rgb(40, 57, 11);
  background-color: rgb(148, 192, 0);
  margin: 0;
  padding: 0.7vw;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  border-bottom: 2px solid black;

}

.normal,
.fast,
.rapid,
.godlike {
  cursor: pointer;
  font-size: 1.2vw;
  color: black;
  height: 5vh;
  border-style: none;
  border: 1px solid rgb(40, 57, 11);
  outline: none;

}

.normal {
  background-color: rgb(255, 247, 0);
}

.normal:hover {
  font-size: 1.4vw;
  background-color: rgb(222, 216, 37);

}

.fast {
  background-color: rgb(231, 155, 13);
}

.fast:hover {
  font-size: 1.4vw;
  background-color: rgb(194, 133, 19);
}

.rapid {

  background-color: rgb(218, 42, 11);
}

.rapid:hover {
  font-size: 1.4vw;
  background-color: rgb(161, 47, 27);
}

.godlike {
  font-size: 1.2vw;
  background: radial-gradient(circle, rgba(255, 255, 255, 1) 30%, rgba(46, 133, 235, 1) 100%);
  border-radius: 0px 0px 20px 20px;
}

.godlike:hover {
  font-size: 1.4vw;
  background: radial-gradient(circle, rgba(255, 255, 255, 1) 30%, rgba(5, 19, 34, 1) 100%);
}

.activeSpeed {
  border: 3px outset rgb(40, 57, 11);
  margin: 0.3vw;
  font-size: 1.4vw;

}



@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes gelatine {

  from,
  to {
    transform: scale(1, 1);
  }

  25% {
    transform: scale(0.9, 1.1);
  }

  50% {
    transform: scale(1.1, 0.9);
  }

  75% {
    transform: scale(0.95, 1.05);
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {

  .game {
    height: 300px;
    width: 300px;
  }

  .instr {
    display: none;
  }

  #keys {
    display: none;
  }
.nav {
  width: 300px
}
.godlike:hover {
  font-size: 1.2vw;
}
.activeSpeed {
  font-size: 1.2vw;
}

}